<%- include('../../parts/header.ejs') %>
<%- include('../../parts/nav.ejs') %>

<div class="container">
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Cadastrar Categoria</a>
<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Slug</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(category => { %>
        <tr>
            <th scope="row"><%=category.id %></th>
            <td><%=category.title %></td>
            <td><%=category.slug %></td>
            <td>
            <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-warning">Editar</a>

                <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="stopDefAction(event, this);">
                <input type="hidden" name="id"  value="<%= category.id %>">
                <button class="btn btn-danger" type="submit">Deletar</button>
                </form>

            </td>
        </tr>
        <% }) %>

    </tbody>
</table>
</div>
<%- include('../../parts/footer.ejs') %>
<script>
    function stopDefAction(event, form) {
        event.preventDefault();
        var decision = confirm("você quer realmente deletar o post?");
        if(decision){
        form.submit();
        }
    }
</script>

